@import '../base.scss';

$scope: #{$prefix}_button;

.#{$scope} {
  @include reset();
  @include inline-flex(row, center, center);
  @include padding($padding-xs $padding-m);
  @include text-ellipsis();
  position: relative;
  flex-shrink: 0;
  gap: $gap-s;
  border: $border-width $border-color solid;
  background-color: $bg-color-container;
  color: $text-color-default;
  transition:
    border-color $anim-duration-moderate,
    background-color $anim-duration-moderate;

  &:hover {
    border-color: $border-color-hover;
    background-color: $bg-color-container-hover;
  }

  &_outlined {
    --ripple-color: #{$primary-color-light};
    border-color: $primary-color-light;
    color: $text-color-primary;

    &:hover {
      background-color: $primary-color-extra-light;
      border-color: $primary-color-light-hover;
    }
  }

  &_circle {
    border-radius: $radius-circle;
  }
  &_round {
    border-radius: $radius-round;
  }
  &_rectangle {
    border-radius: $radius-medium;
  }
}
