:root {
  /* 颜色 */
  --primary-color: var(--yg-primary-color-6);
  --yg-primary-color-light: var(--yg-primary-color-3);
  --yg-primary-color-extra-light: var(--yg-primary-color-1);
  --yg-primary-color-focus: var(--yg-primary-color-2);
  --yg-primary-color-disabled: var(--yg-primary-color-3);
  --yg-primary-color-hover: var(--yg-primary-color-5);
  --yg-primary-color: var(--yg-primary-color-6);
  --yg-primary-color-active: var(--yg-primary-color-7);
  --yg-primary-color-1: #f0f3ff;
  --yg-primary-color-2: #d7e2ff;
  --yg-primary-color-3: #b1c9ff;
  --yg-primary-color-4: #84adff;
  --yg-primary-color-5: #528fff;
  --yg-primary-color-6: #3174e2;
  --yg-primary-color-7: #0059c6;
  --yg-primary-color-8: #004298;
  --yg-primary-color-9: #002e6f;
  --yg-primary-color-10: #001d4c;
  --yg-warning-color-1: #fef3e6;
  --yg-warning-color-2: #f9e0c7;
  --yg-warning-color-3: #f7c797;
  --yg-warning-color-4: #f2995f;
  --yg-warning-color-5: #ed7b2f;
  --yg-warning-color-6: #d35a21;
  --yg-warning-color-7: #ba431b;
  --yg-warning-color-8: #9e3610;
  --yg-warning-color-9: #842b0b;
  --yg-warning-color-10: #5a1907;
  --yg-warning-color: var(--yg-warning-color-5);
  --yg-warning-color-hover: var(--yg-warning-color-4);
  --yg-warning-color-focus: var(--yg-warning-color-2);
  --yg-warning-color-active: var(--yg-warning-color-6);
  --yg-warning-color-disabled: var(--yg-warning-color-3);
  --yg-warning-color-light: var(--yg-warning-color-1);
  --yg-error-color-1: #fdecee;
  --yg-error-color-2: #f9d7d9;
  --yg-error-color-3: #f8b9be;
  --yg-error-color-4: #f78d94;
  --yg-error-color-5: #f36d78;
  --yg-error-color-6: #e34d59;
  --yg-error-color-7: #c9353f;
  --yg-error-color-8: #b11f26;
  --yg-error-color-9: #951114;
  --yg-error-color-10: #680506;
  --yg-error-color: var(--yg-error-color-6);
  --yg-error-color-hover: var(--yg-error-color-5);
  --yg-error-color-focus: var(--yg-error-color-2);
  --yg-error-color-active: var(--yg-error-color-7);
  --yg-error-color-disabled: var(--yg-error-color-3);
  --yg-error-color-light: var(--yg-error-color-1);
  --yg-success-color-1: #e8f8f2;
  --yg-success-color-2: #bcebdc;
  --yg-success-color-3: #85dbbe;
  --yg-success-color-4: #48c79c;
  --yg-success-color-5: #00a870;
  --yg-success-color-6: #078d5c;
  --yg-success-color-7: #067945;
  --yg-success-color-8: #056334;
  --yg-success-color-9: #044f2a;
  --yg-success-color-10: #033017;
  --yg-success-color: var(--yg-success-color-5);
  --yg-success-color-hover: var(--yg-success-color-4);
  --yg-success-color-focus: var(--yg-success-color-2);
  --yg-success-color-active: var(--yg-success-color-6);
  --yg-success-color-disabled: var(--yg-success-color-3);
  --yg-success-color-light: var(--yg-success-color-1);
  --yg-gray-color-1: #f3f3f3;
  --yg-gray-color-2: #eee;
  --yg-gray-color-3: #e7e7e7;
  --yg-gray-color-4: #dcdcdc;
  --yg-gray-color-5: #c5c5c5;
  --yg-gray-color-6: #a6a6a6;
  --yg-gray-color-7: #8b8b8b;
  --yg-gray-color-8: #777;
  --yg-gray-color-9: #5e5e5e;
  --yg-gray-color-10: #4b4b4b;
  --yg-gray-color-11: #383838;
  --yg-gray-color-12: #2c2c2c;
  --yg-gray-color-13: #242424;
  --yg-gray-color-14: #181818;
  --yg-bg-color-container: #fff;
  --yg-bg-color-container-select: #fff;
  --yg-bg-color-page: var(--yg-gray-color-2);
  --yg-bg-color-container-hover: var(--yg-gray-color-1);
  --yg-bg-color-container-active: var(--yg-gray-color-3);
  --yg-bg-color-secondarycontainer: var(--yg-gray-color-1);
  --yg-bg-color-secondarycontainer-hover: var(--yg-gray-color-2);
  --yg-bg-color-secondarycontainer-active: var(--yg-gray-color-4);
  --yg-bg-color-component: var(--yg-gray-color-3);
  --yg-bg-color-component-hover: var(--yg-gray-color-4);
  --yg-bg-color-component-active: var(--yg-gray-color-6);
  --yg-bg-color-component-disabled: var(--yg-gray-color-2);
  --yg-component-stroke: var(--yg-gray-color-3);
  --yg-component-border: var(--yg-gray-color-4);
  --yg-font-white-1: #ffffff;
  --yg-font-white-2: rgba(255, 255, 255, 0.55);
  --yg-font-white-3: rgba(255, 255, 255, 0.35);
  --yg-font-white-4: rgba(255, 255, 255, 0.22);
  --yg-font-gray-1: rgba(0, 0, 0, 0.9);
  --yg-font-gray-2: rgba(0, 0, 0, 0.6);
  --yg-font-gray-3: rgba(0, 0, 0, 0.4);
  --yg-font-gray-4: rgba(0, 0, 0, 0.26);
  --yg-primary-color-light-hover: var(--yg-primary-color-4);
  --yg-primary-color-extra-light-hover: var(--yg-primary-color-2);
  --yg-warning-color-light-hover: var(--yg-warning-color-2);
  --yg-error-color-light-hover: var(--yg-error-color-2);
  --yg-success-color-light-hover: var(--yg-success-color-2);
  --yg-bg-color-secondarycomponent: var(--yg-gray-color-4);
  --yg-bg-color-secondarycomponent-hover: var(--yg-gray-color-5);
  --yg-bg-color-secondarycomponent-active: var(--yg-gray-color-6);
  --yg-table-shadow-color: rgba(0, 0, 0, 8%);
  --yg-scrollbar-color: rgba(0, 0, 0, 10%);
  --yg-scrollbar-hover-color: rgba(0, 0, 0, 30%);
  --yg-scroll-track-color: #fff;
  --yg-bg-color-specialcomponent: #fff;
  --yg-border-level-1-color: var(--yg-gray-color-3);
  --yg-border-level-2-color: var(--yg-gray-color-4);
  --yg-shadow-inset-top: inset 0 0.5px 0 #dcdcdc;
  --yg-shadow-inset-right: inset 0.5px 0 0 #dcdcdc;
  --yg-shadow-inset-bottom: inset 0 -0.5px 0 #dcdcdc;
  --yg-shadow-inset-left: inset -0.5px 0 0 #dcdcdc;
  --yg-mask-active: rgba(0, 0, 0, 0.6);
  --yg-mask-disabled: rgba(255, 255, 255, 0.6);
  --yg-text-color-default: var(--yg-font-gray-1);
  --yg-text-color-secondary: var(--yg-font-gray-2);
  --yg-text-color-placeholder: var(--yg-font-gray-3);
  --yg-text-color-disabled: var(--yg-font-gray-4);
  --yg-text-color-anti: #fff;
  --yg-text-color-primary: var(--primary-color);
  --yg-text-color-link: var(--primary-color);

  /* 尺寸 */
  --yg-size-1: 2px;
  --yg-size-2: 4px;
  --yg-size-3: 8px;
  --yg-size-4: 12px;
  --yg-size-5: 16px;
  --yg-size-6: 20px;
  --yg-size-7: 24px;
  --yg-size-8: 28px;
  --yg-size-9: 32px;
  --yg-size-10: 36px;
  --yg-size-11: 40px;
  --yg-size-12: 48px;
  --yg-size-13: 56px;
  --yg-size-14: 64px;
  --yg-size-15: 72px;
  --yg-size-16: 96px;

  /* 内边距 */
  --yg-padding-xxs: var(--yg-size-1);
  --yg-padding-xs: var(--yg-size-2);
  --yg-padding-s: var(--yg-size-3);
  --yg-padding-m: var(--yg-size-4);
  --yg-padding-l: var(--yg-size-6);
  --yg-padding-xl: var(--yg-size-8);
  --yg-padding-xxl: var(--yg-size-10);

  /* 外边距 */
  --yg-margin-xxs: var(--yg-size-1);
  --yg-margin-xs: var(--yg-size-2);
  --yg-margin-xs: var(--yg-size-3);
  --yg-margin-m: var(--yg-size-4);
  --yg-margin-l: var(--yg-size-6);
  --yg-margin-xl: var(--yg-size-8);
  --yg-margin-xxl: var(--yg-size-10);

  /* 字体 */
  --yg-font-size-body-small: 12px;
  --yg-font-size-body-medium: 14px;
  --yg-font-size-body-large: 16px;
  --yg-font-size-title-small: 14px;
  --yg-font-size-title-medium: 16px;
  --yg-font-size-title-large: 20px;
  --yg-font-size-headline-small: 24px;
  --yg-font-size-headline-medium: 28px;
  --yg-font-size-headline-large: 32px;

  /* 圆角 */
  --yg-radius-small: 2px;
  --yg-radius-medium: 4px;
  --yg-radius-large: 8px;
  --yg-radius-gaint: 16px;
  --yg-radius-round: 999px;
  --yg-radius-circle: 100%;

  /* 行高 */
  --yg-line-height-base: 8px;
  --yg-line-height-body-small: calc(var(--yg-line-height-base) + var(--yg-font-size-body-small));
  --yg-line-height-body-medium: calc(var(--yg-line-height-base) + var(--yg-font-size-body-medium));
  --yg-line-height-body-large: calc(var(--yg-line-height-base) + var(--yg-font-size-body-large));
  --yg-line-height-title-small: calc(var(--yg-line-height-base) + var(--yg-font-size-title-small));
  --yg-line-height-title-medium: calc(
    var(--yg-line-height-base) + var(--yg-font-size-title-medium)
  );
  --yg-line-height-title-large: calc(var(--yg-line-height-base) + var(--yg-font-size-title-large));
  --yg-line-height-headline-small: calc(
    var(--yg-line-height-base) + var(--yg-font-size-headline-small)
  );
  --yg-line-height-headline-medium: calc(
    var(--yg-line-height-base) + var(--yg-font-size-headline-medium)
  );
  --yg-line-height-headline-large: calc(
    var(--yg-line-height-base) + var(--yg-font-size-headline-large)
  );
}
